header {
  
    display: flex;
    /* horizontal positioning */
    justify-content: space-between;
    /* vertical positioning */
    /* align-items: flex-start;
    text-align: center; */
} 


 body {
    background-color: coral;


 }

h2 {
    border: red 10px;
       /* justify-content: space-evenly; */
    margin: 0;
    align-items: flex-end;
    /* float: left; */

}

/* a {
 /* justify-content: space-between; */

/* } */ 

footer {
    font-weight: bold;
    text-align: left;

}