.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    margin:  10px;
    flex: 1 100%;
    border-radius: 10px;
}

.header {
    background: tomato;
    height: 120px;

}

.main{
    text-align: left;
    background: deepskyblue;
    height: 300px;
    font-size: 24px;
}

.aside1{
    background: hotpink;
}

.aside2{
    background: lightgreen;

}
@media all and (min-width: 800px){
    .main{
        flex: 3;   
}
    .aside1{
        order: 1;
    }
    .aside2{
        order: 2;
    }

    .main{
        order: 2;
    }
}
@media all and (min-width: 600px){
    .aside {
        flex: 1;
    }

}

footer {
    font-weight: bold;
    text-align: left;

}
body{
    background-color: antiquewhite;
    background-image: url(../images/background.jpeg);

}