<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Flask</title>
</head>
<body>
    <a href="/about">About</a>
    <a href="/contact">Contact Us</a>
    <h1>Welcome to my Flask app!</h1>
    <p>Hello {{ name }}</p>

    <form action="/llama" method="post">
        <input type="text" placeholder="Enter your name" name="username">
        <button type="submit">Submit</button>
    </form>
</body>
</html>