<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Complex Random Password Generator</title>
</head>
<body class="container">
    <main>
        <progress value="100" max="100"></progress>
        <details>
            <summary role="button" class="secondary">Click here for your password</summary>
            <h3>{{ password }}</h3>
        </details>
    </main>
</body>
</html>