<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Complex Random Password Generator</title>
    </head>
<body>
    <iframe src="./index.html" style="border: none;" name="iframe_a" width="100%" height="700px"></iframe>
</body>
</html>
