<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RPS</title>
</head>
<body>
  <h1>Rock-Paper-Scissors</h1>
  <form action="/play_game" method="POST">
    <br>
    <label for="rock">Rock</label>
    <input id="rock" name="rps" type="radio" value="rock">
    <br>
    <label for="paper">Paper</label>
    <input id="paper" name="rps" type="radio" value="paper">
    <br>
    <label for="scissors">Scissors</label>
    <input id="scissors" name="rps" type="radio" value="scissors">
    <br>
    <br>
    <br>
    <button type="submit">Shoot!</button>
  </form>
  
</body>
</html>