<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Class Kiwi Blog</h1>
    <form action = "{%url new_post%}"method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Posts">
    </form>

    {% for post in posts %}
        <div>
            <p>{{posts.text}}</p>
            <h6> {posts.user}</h6>
            <p> 👍 Likes: {{posts.likes}} 👎 Dislikes:{{posts.dislikes}}</p>
            <p>{{posts.published_date}}</p>
        </div>
        
    {% endfor %}
</body>
</html>