secrets.*
.vscode
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Misc
token.txt

#django uploaded files
uploaded_files/
node_modules
Code/lis/django/kiwi_first_proj/manage.py
Code/lis/django/kiwi_first_proj/hello_app/__init__.py
Code/lis/django/kiwi_first_proj/hello_app/admin.py
Code/lis/django/kiwi_first_proj/hello_app/apps.py
Code/lis/django/kiwi_first_proj/hello_app/models.py
Code/lis/django/kiwi_first_proj/hello_app/tests.py
Code/lis/django/kiwi_first_proj/hello_app/urls.py
Code/lis/django/kiwi_first_proj/hello_app/views.py
Code/lis/django/kiwi_first_proj/hello_app/migrations/__init__.py
Code/lis/django/kiwi_first_proj/hello_app/static/hello_app/index.css
Code/lis/django/kiwi_first_proj/hello_app/templates/hello_app/index.html
Code/lis/django/kiwi_first_proj/kiwi_first_proj/__init__.py
Code/lis/django/kiwi_first_proj/kiwi_first_proj/asgi.py
Code/lis/django/kiwi_first_proj/kiwi_first_proj/settings.py
Code/lis/django/kiwi_first_proj/kiwi_first_proj/urls.py
Code/lis/django/kiwi_first_proj/kiwi_first_proj/wsgi.py
Code/lis/django/xmas/manage.py
Code/lis/django/xmas/xmas_app/__init__.py
Code/lis/django/xmas/xmas_app/admin.py
Code/lis/django/xmas/xmas_app/apps.py
Code/lis/django/xmas/xmas_app/models.py
Code/lis/django/xmas/xmas_app/tests.py
Code/lis/django/xmas/xmas_app/views.py
Code/lis/django/xmas/xmas_app/migrations/__init__.py
Code/lis/django/xmas/xmas_app/migrations/urls.py
Code/lis/django/xmas/xmas_app/templates/xmas_app/index.html
Code/lis/django/xmas/xmas_proj/__init__.py
Code/lis/django/xmas/xmas_proj/asgi.py
Code/lis/django/xmas/xmas_proj/settings.py
Code/lis/django/xmas/xmas_proj/urls.py
Code/lis/django/xmas/xmas_proj/wsgi.py
Code/lis/django/mysite/manage.py
Code/lis/django/mysite/mysite/__init__.py
Code/lis/django/mysite/mysite/asgi.py
Code/lis/django/mysite/mysite/settings.py
Code/lis/django/mysite/mysite/urls.py
Code/lis/django/mysite/mysite/wsgi.py
Code/lis/django/mysite/polls/__init__.py
Code/lis/django/mysite/polls/admin.py
Code/lis/django/mysite/polls/apps.py
Code/lis/django/mysite/polls/models.py
Code/lis/django/mysite/polls/tests.py
Code/lis/django/mysite/polls/urls.py
Code/lis/django/mysite/polls/views.py
Code/lis/django/mysite/polls/migrations/__init__.py
Code/lis/django/mysite/polls/migrations/0001_initial.py
Code/lis/django/mysite/polls/templates/polls/detail.html
Code/lis/django/mysite/polls/templates/polls/index.html
Code/lis/django/mysite/polls/templates/polls/results.html
Code/lis/django/twitter/manage.py
Code/lis/django/twitter/messages_app/__init__.py
Code/lis/django/twitter/messages_app/admin.py
Code/lis/django/twitter/messages_app/apps.py
Code/lis/django/twitter/messages_app/forms.py
Code/lis/django/twitter/messages_app/models.py
Code/lis/django/twitter/messages_app/tests.py
Code/lis/django/twitter/messages_app/urls.py
Code/lis/django/twitter/messages_app/views.py
Code/lis/django/twitter/messages_app/migrations/__init__.py
Code/lis/django/twitter/messages_app/migrations/0001_initial.py
Code/lis/django/twitter/messages_app/migrations/0002_alter_tweet_published_date.py
Code/lis/django/twitter/messages_app/migrations/0003_reply.py
Code/lis/django/twitter/messages_app/templates/messages_app/detail.html
Code/lis/django/twitter/messages_app/templates/messages_app/index.html
Code/lis/django/twitter/twitter_proj/__init__.py
Code/lis/django/twitter/twitter_proj/asgi.py
Code/lis/django/twitter/twitter_proj/settings.py
Code/lis/django/twitter/twitter_proj/urls.py
Code/lis/django/twitter/twitter_proj/wsgi.py
Code/lis/django/twitter/users_app/__init__.py
Code/lis/django/twitter/users_app/admin.py
Code/lis/django/twitter/users_app/apps.py
Code/lis/django/twitter/users_app/forms.py
Code/lis/django/twitter/users_app/models.py
Code/lis/django/twitter/users_app/tests.py
Code/lis/django/twitter/users_app/urls.py
Code/lis/django/twitter/users_app/views.py
Code/lis/django/twitter/users_app/migrations/__init__.py
Code/lis/django/twitter/users_app/templates/users_app/login.html
Code/lis/django/twitter/users_app/templates/users_app/profile.html
Code/lis/django/twitter/users_app/templates/users_app/signup.html
Code/lis/django/lab2/class_app/__init__.py
Code/lis/django/lab2/class_app/admin.py
Code/lis/django/lab2/class_app/apps.py
Code/lis/django/lab2/class_app/models.py
Code/lis/django/lab2/class_app/tests.py
Code/lis/django/lab2/class_app/urls.py
Code/lis/django/lab2/class_app/views.py
Code/lis/django/lab2/class_app/migrations/__init__.py
Code/lis/django/lab2/class_app/migrations/0001_initial.py
Code/lis/django/lab2/class_app/templates/class_app/index.html
Code/lis/django/lab2/lab2_proj/settings.py
Code/lis/django/lab2/lab2_proj/urls.py
Code/lis/django/lab2/lab2_proj/settings.py
.gitignore
Code/lis/django/lab2/lab2_proj/settings.py
Code/lis/django/lab2/lab2_proj/urls.py
