body {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }

.nav-wrapper {background-color: darkred;}

.footer-copyrightn {
      display: flex;
      min-height: 100vh;
      flex-direction: column;}

.row {justify-content: baseline;
flex-direction: column;
}

footer.page-footer {background-color: aliceblue;}

@media screen and (min-width: 768px) {
  .links {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1440px) {
  header {
    display: flex;
    justify-content: space-between;}}