<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rot 13</title>
</head>
<body>

<form name="form" action ="/rot13/encode">
    <input type="text" name="uncoded_message" placeholder="What's your secret?"/>
    <button type="submit" value="Submit">Submit</button>
</form>

<h1>Your encoded message is {{input_post_encode}}</h1>
</body>
</html>