<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade Checker</title>
</head>
<body>
    <h1>Grade Checker</h1>
    {% if grade >=90 %]}
    <h1>You got an A</h1>
    {% elif grade >=80 %}
    <h>You got a B</h>
    {% elif grade >=70 %}
    <h>You got a C</h>
    {% elif grade >=60 %}
    <h>You got a D</h>
    {% else %}
    <h>You got a F</h>
    {% endif %}
</body>
</html>

