<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"
    />
</head>
<body>
    <h1> Welcome to my Flask</h1>
    <p> Hello {{name}}</p>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>

    <form action="/llama" method="post">
        <input name="username" type="text" placeholder="Enter your name/">
        <button type="submit">Submit</button>
    </form>
</body>
</html>