<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Vue Intro</title>
  <link rel="stylesheet" href="styles.css">

  <script src="https://unpkg.com/vue@3"></script>

  

</head>
<body>
    <h1>Welcome to Vue </h1>
    <div id="app">{{ message }}
      <!-- <input v-model="message" type="text"> -->
      <input @keyup.enter="greet(message += '!!!!!')" v-model="message" type="text">

      <hr/>
      <!-- <button v-on:click="toggleBox">Show Box</button> -->
      <button @click="toggleBox">Show Box</button>
      <div v-if="isVisible" class="box"></div>
    </div>


    <script>
        const { createApp } = Vue
      
        createApp({
          data() {
            return {
              message: 'Hello Vue',
              isVisible: false,        
            }
          },
          methods: {
            toggleBox(){
              this.isVisible =!this.isVisible
            },
            greet(message){
              console.log(this.message)
            }
          }
          
        }).mount('#app')
        console.log(app)
      </script>    
</body>
</html>