<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Vue Intro</title>
  <link rel="stylesheet" href="styles.css">

  <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <h1>Welcome to Vue </h1>
    <div id="app">{{ message }}
      <button v-on:click="increaseCount">++</button>
      <button v-on:click="decreaseCount"> - -</button>

      The number is {{counter}}
      <span v-if="counter % 2 ===0">Even</span>
      <span v-if="counter %2 ===1">Odd</span>

      <div>
        <button v-on:click="generateRandomNumber">Random</button>
        {{randomNumber}} is
        <span v-if="randomNumber<5">less than 5</span>
        <span v-else-if="randomNumber ==5">equal to 5</span>
        <span v-else>greater than 5</span>
      </div>

      <!-- Display random num in array -->
      <div>
        <h4>Previous Numbers</h4>
        <ul>
          <!-- <li>{{generateNumbers}}</li> -->
          <li v-for="number in generateNumbers">{{number}}</li>
        </ul>
      </div>

        <input v-model="message" type="text">
    </div>


    <script>
        const { createApp } = Vue
      
        createApp({
          data() {
            return {
              message: `'Hello Vue ${this.randomNumber}`,//'Hello Vue! + this.randomNumber',
              counter: 0,
              randomNumber: Math.round(1 + Math.random() *10 ),
              generateNumbers: [] //empty list for random numbers
            }
          },
          methods: {
            increaseCount: function(){
              this.counter +=1
            },
            decreaseCount: function(){
              if(this.counter >0){
                this.counter --
              }
            },
            generateRandomNumber: function(){
              this.randomNumber = Math.round(1 + Math.random() *10 )
              
              //add random numbers to array
              this.generateNumbers.push(this.randomNumber)
            }
          },
          //lifecycle methods
          created: function(){
            console.log('hello world')
          },
          updated: function(){
            console.log('Updated App')
          }
        }).mount('#app')
        console.log(app)
      </script>    
</body>
</html>