<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <h1>Random Password Generator</h1>
    <h3>Enter the amount of characters you'd like your password to have</h3>
    <form action="/result" method="post">
        <input name="char_count" type="text" placeholder="Amount">
        <button type="submit">Enter</button>
    </form>
</body>
</html>