@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display:ital@1&display=swap");


h3{
    text-decoration: underline;
    text-align: center;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;}

.church {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 

    background-image: url("Emmanuel-Temple.jpeg") ;
}
.a_button {
    
        border: 0;
        line-height: 2.5;
        padding: 0 8px;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: darkslateblue;
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

h2 {
        text-decoration: underline
    }




h1{
    opacity: 100%;
    background-color: darkslateblue;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}


img {
    
    border: solid;
    border-radius: 25%;
    display: block;
    width: 150px;
    margin: 0 auto;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(21, 19, 29, 0.432);
    display: block;
    background-color: rgba(129, 112, 223, 0.973);
    text-align: left;
    padding: 0 70px;
}
ul{
    background-color: darkslateblue;
    display: inline-block;
  }

#background2 {
    background-color: rgba(71, 61, 139, 0.404);
    margin: 30px;
}