<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

</head>
<body>
  <a href="/about">about</a> 
  <a href="/contact">contact</a>
    

<form action="" method="post">
    <input name="username" type="text" placeholder="enter your name">
    <button type="submit">submit</button>
</form>

    <p> Hello {{ name}} </p>
</body>
</html>