body {
    background-color: slategray;
}

p {
    /* font color */
    color: whitesmoke;

    background-color: rgb(81, 83, 87);

    font-size: 16px;
}

.parent {

    /* border: size, type, color */
    border: 2px solid #e3dfce;

    width: 500px;
    height: 300px;
}

.child {

    width: 50%;
    border: 4px dashed tomato;
    height: 150px;
    margin: 10px;
    padding: 20px; 

    text-align: center;

    background-image: url();
    background-position: center;
    background-size: 100%;
}