<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="https://unpkg.com/vue@3"></script>
    <link href="style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Vue</h1>
    <div id="app">{{ message }} 
      <!-- <input v-model="message" type="text"> -->
      <input @keyup.enter="greet" v-model="message" type="text">
      <div><hr></div>
      <button @click="toggleBox">Show Box</button>
      <div v-if="isVisible" class="box"></div>      
    </div>
<script>
  const { createApp } = Vue
  createApp({
    data() {
      return {
        message: 'Hello',
        isVisible: false,        
      }
    },
    methods: {
      toggleBox(){
        this.isVisible =!this.isVisible
      },
      greet(){
        console.log(this.message)
      }
    }
  }).mount('#app')
</script>
</body>
</html>