<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Rock Paper Scissor</title>
  </head>
  <body>
    <h1>Welcome to Rock Paper Scissor</h1>
    <h3>Please select a choice</h3>

    <a href="{% url 'rps:results' %}?choice=rock">Rock</a>
    <a href="{% url 'rps:results' %}?choice=paper">Paper</a>
    <a href="{% url 'rps:results' %}?choice=scissors">Scissors</a>
  </body>
</html>
