.logic{
    display: flex;
    flex-direction: column;

}
.task_list {
display: flex;
flex-direction: column;

}
.high {
    order: 1;
    display: flex;
    flex-direction: column;
}
.high > ul {

}
.medium {
    order: 2;
}
.medium > ul {
   /* color: aquamarine; */
   /* background-color: black; */
   font-family: 'Times New Roman', Times, serif;
}
.middle {
    background-color: chartreuse;
    padding: .01em .1em;
}
.low {
    order: 3;
}
