body {
    background-color: rgb(80, 80, 80);
}

.cont {
    background-color: rgb(80, 80, 80);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    margin: 20px;
}

.bio {
    color: rgb(216, 216, 216);
    padding: 50px;
    text-align: center;
}

nav {
    background-color: rgb(92, 92, 92);
    text-align: center;
}