<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christmas? </title>
</head>
<body>
    <h1>Christmas Yet?</h1>

    
    {% if xmas %}
    <h1 style="color:red; text-align:center; font-size: 100px">YES</h1>
        
    {% else %}

    <h1 style="color:green; text-align:center; font-size: 100px">NO</h1>

    {% endif %}
        
</body>
</html>