<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>
</head>

<body>
    <h1>Welcome to twitter</h1>

    {% if not request.user.is_anonymous %}
    <form action="{% url 'new_tweet' %}" method="POST">
        {% csrf_token %} {{form}}
        <button type="submit">Post</button>
    </form>
    {% else %}
    <p>Please login to make a post.</p>
    {% endif %} {% for tweet in tweets %}
    <div>
        <h6>{{tweet.user}}</h6>
        <p>{{tweet.text}}</p>
        <p><a href="{% url 'like_tweet' tweet.id %}">👍Likes: {{tweet.likes}}</a> <a href="{% url 'dislike_tweet' tweet.id %}">👎Dislikes: {{tweet.dislikes}}</a></p>
        <p>Posted: {{tweet.published_date}}</p>
        {% if request.user == tweet.user %}
        <a href="{% url 'delete_tweet' tweet.id %}">🗑️ Delete</a> {% endif %}
        <a href="{% url 'detail' tweet.id %}">💎 Details</a>
        <p>---------------------------------------------------------------</p>

    </div>
    {% endfor %}


</body>

</html>