<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- stylesheet -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')  }}"
    />
    <title>Encrypted</title>
  </head>
  <body>
    <h3>{{encrypted_message}}</h3>

    <header>
      <form action="/decrypt" method="post">
        <div>
          <input
            type="text"
            name="decrypt_message"
            value="{{encrypted_message}}"
            placeholder="Enter the text you would like to decrypt"
          />
        </div>

        <br />

        <div>
          <input
            type="text"
            name="shift"
            value="{{shift}}"
            placeholder="Enter the shift key"
            required
          />
        </div>

        <br />

        <button type="submit">Submit</button>
      </form>
    </header>
  </body>
</html>
