<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  
  <style text="text/css">
    main {
      max-width: 375px;
    }

    .list-items {
      padding: 0; 
      margin: 0;
    }

  </style>

</head>
<body>
  <main>
    <article>
      <h1>Contacts</h1>
      <form action="{% url 'contacts:search_contact' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="Look up a person">
        <button type="submit">Search</button>
      </form>
    </article>
  </main>
</body>
</html>

