<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryptor</title>
</head>
<body>
  <h1>Welcome to redo</h1>  

  <a href="{% url 'redo:result' %}">What shall we encrypt</a>

<div class="search_area">
  <form action="" method="POST">
    {% csrf_token %}
    <div class="center_area">

    </div>
  </form>
  <button type="submit">submit</button>
</div>






</body>
</html>