<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{tweet.text}}</p>
{% if request.user == tweet.user%}
    <a href="{% url 'delete_tweet' tweet.id %}">❌</a>
{% endif %}
<h6>{{tweet.user}}</h6>

{% if not request.user.is_anonymous %}
    <a href="{%url 'like' tweet.id%}">👍Likes: {{tweet.likes}}</a>
    <a href="{%url 'dislike' tweet.id%}">👎Dislikes:{{tweet.dislikes}}</a>
{% endif%}
<p>{{tweet.published_date}}</p>
</body>
</html>