<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <form action="{% url 'todo_app:save_task' %}" method="post">
        {% csrf_token %}
        <input type="text" name="item">
        <select name="priority">
            <option value="">Select a priority: </option>

            {% for priority in priorities %}
                <option value="{{priority.id}}">{{priority.name}}</option>
            {% endfor %}
        </select>
        <button>Add Task</button>


    <h1>To Do List: </h1>
    
    {% for priority in priorities %}
    <div>
        <h2>{{priority.name}}</h2>
        
        {% for task in priority.items.all %}
        <div>
            <h5>{{task.text}}  {{task.created_date.month}}/{{task.created_date.day}}</h5>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</body>
</html>