<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <h1>Rock Paper Scissors</h1>
    <form action="/play_game" method="POST">
      <label for="rock">Rock</label>
      <input id="rock" name="rps" type="radio" value="rock" />

      <label for="paper">Paper</label>
      <input type="radio" name="rps" id="paper" value="paper" />

      <label for="scissors">Scissors</label>
      <input type="radio" name="rps" id="scissors" value="scissors" />

      <button type="submit">Shoot!</button>
    </form>
  </body>
</html>
