body {
        /* Background color */

    background-color: slategray;
}

p {
        /* Font color */
    
    /* color: tomato; */
    /* color: hsl(196, 54%, 70%) */
    /* color: whitesmoke; */
    /* rgb(71, 163, 196) */
    
    color: #47a3c4; /* using Hex code from googling color picker */
    
    background-color: #685d5d;

        /* Font size */

    font-size: 20px;
}

.parent  {
        /* Borders */
    
    border: 2px solid #e2e2e2;
    /* width: 500px;
    height: 300px; */
}

.child {
    border: 4px dashed tomato;
    width: 200px;
    height: 150px;
    margin: 10px 20px;

        /* Text alignment */
    text-align: center;

        /* Background image */

        /* using local file */
    background-image: url("kiwi.jpeg");
    background-size: 100%;
    background-position: center;
    


        /* googling gradient magic */
    /* background-image: linear-gradient(216deg, rgba(77, 77, 77,0.05) 0%, rgba(77, 77, 77,0.05) 25%,rgba(42, 42, 42,0.05) 25%, rgba(42, 42, 42,0.05) 38%,rgba(223, 223, 223,0.05) 38%, rgba(223, 223, 223,0.05) 75%,rgba(36, 36, 36,0.05) 75%, rgba(36, 36, 36,0.05) 100%),linear-gradient(44deg, rgba(128, 128, 128,0.05) 0%, rgba(128, 128, 128,0.05) 34%,rgba(212, 212, 212,0.05) 34%, rgba(212, 212, 212,0.05) 57%,rgba(25, 25, 25,0.05) 57%, rgba(25, 25, 25,0.05) 89%,rgba(135, 135, 135,0.05) 89%, rgba(135, 135, 135,0.05) 100%),linear-gradient(241deg, rgba(55, 55, 55,0.05) 0%, rgba(55, 55, 55,0.05) 14%,rgba(209, 209, 209,0.05) 14%, rgba(209, 209, 209,0.05) 60%,rgba(245, 245, 245,0.05) 60%, rgba(245, 245, 245,0.05) 69%,rgba(164, 164, 164,0.05) 69%, rgba(164, 164, 164,0.05) 100%),linear-gradient(249deg, rgba(248, 248, 248,0.05) 0%, rgba(248, 248, 248,0.05) 32%,rgba(148, 148, 148,0.05) 32%, rgba(148, 148, 148,0.05) 35%,rgba(202, 202, 202,0.05) 35%, rgba(202, 202, 202,0.05) 51%,rgba(181, 181, 181,0.05) 51%, rgba(181, 181, 181,0.05) 100%),linear-gradient(92deg, hsl(214,0%,11%),hsl(214,0%,11%));  */

        /* for using website */
    /* background-image: url("https://media.istockphoto.com/photos/north-island-brown-kiwi-apteryx-mantelli-picture-id525151431?b=1&k=20&m=525151431&s=170667a&w=0&h=L7KvUvQv8tYpFNLlVSZC_Dgduyb4iLsBS6xl38A7_PY=" 
    alt="Kiwi bird"); */

    /* margin: 10px */ 
    /* margin: top bottom */ 
    /* margin: top right bottom left  */
    /* margin-top: 10px; */
    /* margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px ; */

        /* Full screen width*/

    /* width: 50vw */

        /* 50% of "parent" size */
    /* height: 50vh; */
}

.parent-2 {
    height: 300px;
    width: 300px;
    background-color: antiquewhite;
}

.child-2 {
    border: 2px solid red;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.background {
    /* border: 2px solid red; */
    height: calc(100% - 44px);
    background-image: url(Kiwi.jpeg);
    background-size: 10%;
    background-repeat: repeat;
}