<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span>Search Patient: 
        <input type="text">
        <input type="submit">
    </span>
    <div class="demo">
        <h3>Patients Demographic</h3>
        <div class="class">
            <h1>Patient Picture</h1>
            <button>Submit</button> <button>Update</button> <button>Add</button>
        </div>
        <div class="class">
            <h1>Demographic Information</h1>
            I want an alert box when this is clicked
            <button>Submit</button> <button>Update</button> <button>Add</button>
        </div>
        <div class="class">
            <h1>HEDIS Measures</h1>
            <button>Submit</button> <button>Update</button> <button>Add</button>
        </div>
        <div class="class">
            <h1>Chronic History</h1>
            <button>Submit</button> <button>Update</button> <button>Add</button>
        </div>
    </div>
</body>
</html>