<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
    </head>
    <body>
        <div id="app">
            <h1>Get Codes</h1>
            <form @submit.prevent="getCodes">
                <input type="search" class="form-control" v-model="query">
                <input type="submit" class="btn btn-success">
            </form>
            <ul>
                <li v-for="icd in data">
                    {{icd}}
                </li>
            </ul>
            
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
        <script src='https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/17.0.2/autocomplete-lhc.min.js'></script>
        <script>
            var app = new Vue({
                el: '#app',
                data() {
                    return {
                        query: '',
                        data:[]
                    }
                    
                },
                methods: {
                    async getCodes(){
                        await axios.get(`https://clinicaltables.nlm.nih.gov/api/icd10cm/v3/search?sf=code,name&terms=${this.query}`)
                        .then((response)=>{
                            this.data = response.data
                            console.log(this.data)
                        })
                        .catch((error)=>{
                            console.log(error)
                        })
                    }

                },
                created: function() {

                }
            })
        </script>
    </body>
</html>