<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h6>Make it where you select one, either S/O</h6>
        <h6>Link SO to message, where PT can type own SO</h6>
        <div class="class">
            <h3>Subjective</h3>
        </div>
        <div class="class">
            <h3>Observation</h3>
        </div>
    </div>
</body>
</html>