.vital{
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    justify-content: space-evenly;
    height: 15vh;
}

.vit_sign {
    border: 2px solid black;
    margin-right: 10px;
    width: 25%;
    flex-direction: row;
    flex-wrap: wrap;
    
    
    
}
