<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="vital">
        <div class="vit_sign">
            <span>BP</span>
            <span>Pulse</span> 
            <span>Oxygen</span> 
            <span>RR</span> 
            <span>Temp</span> 
            <span>Pain</span> 
            <span>HT</span> 
            <span>WT</span>
        </div>
        <div class="class">
            <p>AOO *3 --- dropdown selection</p>
            <p>NAD --- Yes or No</p>
            <p>Clear to Auscultation</p>
            
        </div>

        <div class="class">
            Other Types of Observable Assessment
            PERLA
            Verbal
        </div>
        <div class="class"></div>
    </div>
</body>
</html>