<h1>Add item to the Grocery List </h1>


<form action="" method="POST">
  {% csrf_token %}
    {{form.title}}
    <input type="submit" name="Create Task">
</form>

{% for task in grocery %}


  {% if task.completed == True %}
  <strike>{{task}}</strike>
  {{task.date_completed}}
  {% else %}
  <span>{{task}}</span>
    
    
  {% endif %}
    
    
    <a href="{% url 'add' task.id  %}">Update Grocery</a>
    <a href="{% url 'delete' task.id  %}">Delete Grocery</a>
  
<br>
  
  
{% endfor %}
  
