<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Vue Intro</title>
    <!-- css -->
    <link rel="stylesheet" href="style.css" />
    <!-- vue -->
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>

    <div id="app">
      {{ message }}
      <br>
      <!-- <input v-model="message" type="text"> -->
      <input @keyup.enter="greet(message += '!!!')" v-model="message" type="text">

      <hr>

      <!-- <button v-on:click="toggleBox">Show box</button> -->
      <button @click="toggleBox">Show box</button>

      <div v-if="isVisible" class="box" > </div>
   
    </div>
    <script>

      const { createApp } = Vue;
      createApp({
        data() {
          return {
            message: "Vue, intro",
            isVisible: false,
          };
        }, 
        methods: {
          toggleBox(){
            // flips boolean state of variable
            this.isVisible =! this.isVisible
          },
          greet(message){
            console.log(this.message)
          }
        }
      }).mount("#app");
    </script>

  </body>
</html>
