<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unit Converter</title>
  </head>
  <body>
    <h1>Unit Converter</h1>
    <form action="/results" method="POST">
      <label for="distance">Enter Distance:</label>
      <input type="text" id="distance" name="distance" />
      <br />
      <label for="unit">Input Units:[feet,miles,meter,km,yard,or inch]</label>
      <input type="text" id="unit" name="unit" />
      <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
