body {
    background-color: blueviolet;
    width: 100vw;
    height: 100vh;
 
}

.testing {

    /* background-image: url("Warrior_Thanos.jpg");  */
    /* background-size: 75%; */
    background-repeat: no-repeat;    
    height: 100%;
    display:flex; 
    justify-content: center;

}


p {
    font-size: 16px;
    font-style: italic; 
    text-align:center;
     margin: 10px;
    padding: 20px;
}

img {

    border: 2px solid gold;
    border-radius: 10px;
   
   

}
