body {
    background-color: #CCC;
}

.selection { 
    display: flex;
    justify-content: center;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    transition:100ms;      /*  smooth animation */
}

/* indicate they are clickable by scaling up image*/
.selection:hover{
    transform: scale(1.2);
}

.results {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center
 }   /* set two column grid */


.result-score {
    margin-left: .1rem;
    font-size: .5rem;
    color: black

}