<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Time</title>
</head>
<body>
    <form action="/code_cyph" method="post">
        <label for="message" >Message</label>
        <input type="text" name="message" id="message">
        <label for="code">Code</label>
        <input type="number" name="code" id="code">

        <button type="submit" >Coded result</button>

        

    </form>
</body>
</html>