<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Generator</title>
  </head>
  <body>
    <h1>Welcome to the random password generator</h1>
    <form action="/password" method="POST">
      <label for="charcount"
        >How many characters do you want in your password?</label
      >
      <input type="text" id="charcount" name="charcount" />
      <button type="submit">Generate Password</button>
    </form>
  </body>
</html>
