body {
    background-image: url(background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.one {
    margin: 100px;
    text-align: center;
    /* background-color: darkolivegreen; */
    background-image: linear-gradient(90deg, transparent 0%, transparent 10%, #EA858A 10%, #EA858A calc(10% + 3px), transparent calc(10% + 3px), transparent 100%), linear-gradient(180deg, #632704 4%, transparent 4%), repeating-linear-gradient(180deg, #91C1E1 0px, #91C1E1 2px, transparent 2px, transparent 25px), linear-gradient(#e1e6a1,#e1e6a1);
    background-position: fixed;
    box-shadow: -1px -1px #221f0a, 1px 1px #46411b, 2px 2px rgb(225, 230, 161), 3px 3px #e1e6a1, 4px 4px #46411b, 5px 5px #e1e6a1, 6px 6px #e1e6a1, 7px 7px #46411b, 8px 8px #e1e6a1, 9px 9px #e1e6a1, 10px 10px #46411b, 11px 11px #e1e6a1, 12px 12px #e1e6a1;
    height: 1500px;
    position: relative;
    /* border-left: 1px solid black;
    border-top: 1px solid black; */


}



h1 {
    color: #053f37;
    text-align: left;
    padding-left: 130px;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px black;
    font-size: 50px;
}


.mushie {
    float: right;
}


.main_info_parent {
    /* border: 3px solid rgb(185, 17, 17); */
    padding: 20px;
    height: 700px;
}



.main_info_child {
    width: 45%;
    float: left;
    padding: 15px;
    /* border: 5px solid black; */
    height: 462px;
    /* border: 2px solid red; */
}



.introduction {

    color: rgb(110, 59, 59);
    text-align: justify;
    font-size: 23px;
    font-family: 'Cedarville Cursive', cursive;
    text-shadow: 1px 1px black;
    margin-left: 80px;
    margin-top: 20px;
    line-height: 25px;  
}

.quote {
    margin-top: 24px;
    margin-left:74px;
    font-size: 20px;
    line-height: 25px;
    height: 220px;
    width: 400px;
    /* border: 4px solid rgb(71, 65, 48);
    background-color: rgb(188, 221, 221); */
    font-family: 'Cedarville Cursive', cursive;
    position: relative;
    float: left;

}


.author_pic{
    /* border: 4px solid rgb(65, 204, 11); */
    margin-top: 10px;
    height: 495px;
    width: 495px;
    border-radius: 10px;
    position: relative;

   
}



.pic_attribute_1 {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    padding-top: 5px;
    margin-left: 490px;
    margin-right: 5px;
    line-height: 15px;
    position: relative;
    
}

.wiki_link {
    color: red;
    font-size: 20px;
    
    
}

.line {
    height: 10px;
    width: 1047px;
    background-color: black;
    margin-left: -20px;
    
}

ul {
    color: rgb(19, 6, 6);
    background-image: url(post_it.png);
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 20px;
    text-align: left;
    padding-left: 100px;
    padding-top: 20px;
    height: 250px;
    width: 300px;
    margin-left: 90px;
    margin-top: 23px;
    line-height: 23px;
    list-style-type: lower-roman;
}



.something {
    color: rgb(1, 10, 10);
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 10;
    font-size: 20px;
    width: 900px;
    margin-left: 90px;
    text-align: justify;
    margin-top: 4px;
    line-height: 25px;
}

.homes {
    margin-left: -10px;
}



.page_flip {

    margin-top: 505px;
    margin-left: 847px;
    height: 200px;
    background-image: url(pageflip.png);
    background-repeat: no-repeat;
    text-align: 50px;
    
}

.nextpagelink {
    color: rgba(59, 51, 51, 0.671);
    height: 100px;
    width: 300px;
    margin-left: 50px;
    padding: 20px;

}



.pagefooter {
    clear: none;
    padding-top: 500px;
    float: right;
}

