<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List</title>
</head>
<body>
    <h1>Home</h1>

    <form action="{% url 'save' %}" method="POST">
        {% csrf_token %}
        {{new_item}}
        <button type="submit">Submit</button>
    </form>

    {% for item in show_items  %}

    <ul>
        
        <form action="{% url 'delete' item.id %}" method="GET">
            <label for="del">{{item}}</label>
            <button type="submit" name="del">Delete</button>
        </form>
    </ul>

    {% endfor %}

</body>
</html>