<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLASK - Notes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- IMPORT STYLE CSS WITH FLASK -->
</head>
<body>
    <h1>Welcome to my flask app!</h1>
    <p>Hello {{ name }}</p>
    <a href="/about">About</a>
    <a href="/shop">Shop</a>

    <form action="/llama" method="post">
        <input name="social_num" type="" placeholder="Social security number">
        <button type="submit">Sumbit to government</button>

    </form>
</body>
</html>