<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To DO</title>
</head>
<body>
    <h1>To Do </h1>
    
    <form method="POST" action="">
        {% csrf_token %}
        {{form.title}}
    </form>

    {% for task  in tasks %}
      <div>
          <a href="{% url 'update' task.id %}">Update</a>
          <a href="{% url 'delete' task.id %}">Delete</a>
  
          
          {% if task.complete %}
              <strike>{{task}}</strike>
              {% else %}
              <span>{{task}}</span>
              
          {% endif %}

      </div>
            
    {% endfor %}
        

</body>
</html>