<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ROT</title>
  </head>
  <body>
    <h1>ROT Cipher</h1>
    <p>Please Enter Phrase to Encode</p>
    <form action="{% url 'rot_app:answer' %}" method="post">
      {% csrf_token %}
      <input type="text" name="original" />
      <button type="submit">Encode</button>
    </form>
  </body>
</html>
