body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  border: 3px solid orange;
  display: flex;
  /* horizontal positioning */
  justify-content: space-between;
  /* vertical positioning */
  /* align-items: center; */
}

h2 {
  margin: 0;
}

a {
}

section {
  display: flex;
  /* position children in a column */
  flex-direction: column;
  /* When in a column, justify content is vertical positioning */
  justify-content: space-between;
  /* When in column, align items is horizontal positioning  */
  align-items: center;

  border: 2px solid red;
  height: 500px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box {
  border: 2px solid black;
  background-color: aqua;
  text-align: center;
  font-size: 16px;
  width: 300px;
  margin: 12px 0;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}
